<footer class="footer">
	<div class="footer-top">
		<div class="footer-top__inner container">
			<div class="footer-top__header">
				<a href="index.html">
					<img src="img/general/logo.svg" alt="IDMA Ltd" class="logo">
				</a>
				<p class="footer-top__text section-text">
					<span class="block">IDMA International</span>
					<span class="block">Digital Marketing Agency Limited</span>
				</p>
			</div>
			<div class="footer-top__body">
				<a target="_blank" href="https://idma.ltd/ru/denial-of-responsibility"
					class="footer-top__link footer-link">Отказ от ответственности</a>
				<a target="_blank" href="https://idma.ltd/ru/privacy-policy" class="footer-top__link footer-link">Политика
					конфиденциальности</a>
				<a target="_blank" href="https://idma.ltd/ru/refund-policy" class="footer-top__link footer-link">Политика
					возврата средств</a>
				<a target="_blank" href="https://idma.ltd/ru/cookie-policy"
					class="footer-top__link footer-link">Использование Cookie</a>
			</div>
		</div>
	</div>
	<div class="footer-bottom">
		<div class="container">
			<p class="footer-bottom__copyright">© 2019-2021, <a target="_blank" href="https://idma.ltd/ru/"
					class="footer-link">idma.ltd</a> | All right
				reserved</p>
		</div>
	</div>
</footer>