<header class="header">
	<div class="header-content container">
		<a href="index.html">
			<img src="img/general/logo.svg" alt="IDMA Ltd" class="logo">
		</a>
		<nav class="nav-menu">
			<a href="#" class="nav-menu__link" data-target="#team">Принцип работы</a>
			<a href="#" class="nav-menu__link" data-target="#advantages">Преимущества</a>
			<a href="#" class="nav-menu__link" data-target="#prices">Цены</a>
			<a href="#" class="nav-menu__link" data-target="#portfolio">Портфолио</a>
			<a href="#" class="nav-menu__link" data-target="#contacts">Контакты</a>
		</nav>
		<button class="header__btn btn btn--bordered link-order" data-target="#order">Отправить заявку</button>

		<div class="burger">
			<svg class="burger__icon">
				<use xlink:href="img/icons/icons.svg#burger"></use>
			</svg>
		</div>
	</div>
</header>