<div class="mobile-menu">
	<div class="mobile-menu__header">
		<a href="" class="link-target" data-target="#head">
			<img class="logo" src="img/general/logo.svg" alt="IDMA Ltd">
		</a>
		<svg class="close-icon js-close-menu">
			<use xlink:href="img/icons/icons.svg#burger_close"></use>
		</svg>
	</div>
	<nav class="mobile-menu__nav">
		<a href="#" class="mobile-menu__link" data-target="#team">Принцип работы</a>
		<a href="#" class="mobile-menu__link" data-target="#advantages">Преимущества</a>
		<a href="#" class="mobile-menu__link" data-target="#prices">Цены</a>
		<a href="#" class="mobile-menu__link" data-target="#portfolio">Портфолио</a>
		<a href="#" class="mobile-menu__link" data-target="#contacts">Контакты</a>
	</nav>
	<div class="mobile-menu__footer">
		<div class="mobile-menu__socials socials__icons">
			<a target="_blank" href="https://www.behance.net/idmaltd" class="socials__link">
				<svg class="socials__icon behance">
					<use xlink:href="img/icons/icons.svg#behance"></use>
				</svg>
			</a>
			<a target="_blank" href="https://dribbble.com/idma-ltd" class="socials__link">
				<svg class="socials__icon dribbble">
					<use xlink:href="img/icons/icons.svg#dribbble"></use>
				</svg>
			</a>
			<a target="_blank" href="https://www.facebook.com/idma.ltd" class="socials__link">
				<svg class="socials__icon facebook">
					<use xlink:href="img/icons/icons.svg#facebook"></use>
				</svg>
			</a>
			<a target="_blank" href="https://www.linkedin.com/company/idma-limited/" class="socials__link">
				<svg class="socials__icon linkedin">
					<use xlink:href="img/icons/icons.svg#linkedin"></use>
				</svg>
			</a>
			<a target="_blank" href="https://www.instagram.com/idma.ltd/" class="socials__link">
				<svg class="socials__icon instagram">
					<use xlink:href="img/icons/icons.svg#instagram"></use>
				</svg>
			</a>
		</div>
		<button class="mobile-menu__btn btn btn--bordered link-order" data-target="#order">Отправить
			заявку</button>
	</div>
</div>